/*GENERAL */
:root {
    --background-color: #F5F5F7
}
body {
    background: var(--background-color)
}

/* CTRL+ C/V - need first(study why)*/
.dragme {
    margin: 10px;
    margin-top: -400;
    position: relative;
    width: 137px;
    height: 100px;
    cursor: move;
}
#draggable {
    background-color: #ccc;
    border: 1px solid #000;
}

/* drag n drop*/
#stickery-system {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#dropZone {
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font: 21pt bold arial;
    transition: width 2s;
    color: #bbb;
}

/*hover animation*/
#dropZone:hover {
    border: 2px dashed #767678;
    color: #767678;
}

/* Soft arrows */
.next {
    -webkit-transform: rotate(135deg);
    margin: 50px 20px;
    width: 50px;
    height: 50px;
    float: left;
}
.prev {
    -webkit-transform: rotate(315deg);
    margin: 50px 20px;
    width: 50px;
    height: 50px;
    float: left;
}
.next:after {
    content: '';
    width: 50px;
    height: 50px;
    background: var(--background-color);
    position: absolute;
    left: 3px;
    top: 3px;
}
.prev:after {
    content: '';
    width: 50px;
    height: 50px;
    background: var(--background-color);
    position: absolute;
    left: 3px;
    top: 3px;
}

/* Clearfix */
.nav:after {
    content: "";
    display: table;
    clear: both;
}
/* Colors */
.gray   { background: rgb(220, 220, 223); }

.gray:hover {
    background: rgb(83, 83, 84);
}
.gray.is-active {
    background: var(--background-color, rgb(220, 220, 223));
}

/* PERSONAL CSS */

#all-context {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.left {
    margin: 0;
    position: fixed;
    top: 32%;
    right: 140%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.right {
    margin: 0;
    position: fixed;
    top: 33%;
    left: 111%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#notebook {
    height: 400;
}
i{
    margin: 4%
}
